.employee-img {
  width: 30px;
  height: 25px;
}

.employee-name {
  padding-left: 10px;
  font-family: 'Cascadia Code';
  font-weight: normal;
  white-space: nowrap;
}

.employee-holidays-count {
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cascadia Code';
  font-weight: normal;
  color: green;
}