.header {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.header-text {
  font-family: 'Cascadia Code';
  font-weight: normal;
  font-size: 25px;
}

.header-img {
  padding-top: 7px;
  width: 65px;
  height: 60px;
}

.month-selector {
  width: 150px; 
  padding: 7px;
  border-radius: 5px;
  font-family: 'Cascadia Code'; 
  font-size: 15px;
}

@media screen and (max-width: 600px) {
  .header-text {
    font-size: 18px;
  }
  .header-img {
    padding-top: 7px;
    width: 40px;
    height: 40px;
  }
}